<ul id="slide-out" class="sidenav blue darken-2 text-white">
    <li>
      <div class="user-view">
        <div class="background">
          <img
            src="https://images.squarespace-cdn.com/content/v1/56a16fd5d82d5ee027b1b53f/1536977635987-YQVX0UA7ZAD8ZIYDFGP4/ke17ZwdGBToddI8pDm48kA47qaxzGU3oa60Mv3IrElh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0hGaawTDWlunVGEFKwsEdnE_ZbuhWuTjDl9Hn0Vaidb23CyzgPgNZ_l0zINYXrCLdg/iStock-817548064+%281%29.jpg?format=750w"
          />
        </div>
        <br />
        <br />
        <span id="" class="white-text title"></span>
      </div>
    </li>
    <!-- Collapsible -->
    <ul class="collapsible">
      <li>
        <div class="collapsible-header" id="1337x-dropdown-trigger">
          <i class="material-icons">filter_drama</i>
          1337x
        </div>
        <div class="collapsible-body blue darken-4">
          <ul class="collection blue darken-4" id="1337x-dropdown"></ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">place</i>
          RARGB
        </div>  
        <div class="collapsible-body blue darken-4"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
    <li><div class="divider"></div></li>
    <!-- <li><a class="subheader">Subheader</a></li> -->
  </ul>