{% extends 'movies/base.html' %} {% load app_extras %} {% block content %}
<style>
  .modal-content p {
    font-family: arial;
  }
  .card-close {
    position: absolute;
    top: 0;
    right: 0;
  }
  img {
    height: 220px;
  }
  .results {
    margin-top: 20px;
    border: 2px solid #27719c;
    border-radius: 5px;
  }
  .results .col {
    margin-bottom: -4px;
    padding: 10px;
  }
  .input-field.col label {
    left: 0px;
  }
  a,
  .btn {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
      "Helvetica Neue", sans-serif;
  }
  .msgBox {
    padding: 10px;
    border-radius: 5px;
  }
  .media_list img {
    height: 200px;
  }
  .media_list {
    margin-top: 20px;
  }
  .media_item {
    margin-right: 25px;
    display: inline-block;
  }
  .providers {
    display: inline-block;
    position: absolute;
    left: 249px;
    top: 451px;
  }
  .card-content {
    padding: 5px 0px !important;
  }
  .card {
    height: 300px;
  }
  .card-title {
    font-size: 15px !important;
  }
  .plex {
    opacity: 20%;
    filter: grayscale(100%);
  }
  .title {
    font-size: 20px;
  }
  #toast-container {
    top: 0 !important;
    right: 0 !important;
    /* top: 0;
    right: 0; */
  }
</style>
{% if success or error %}
<span class="msgBox yellow orange-text text-darken-3 darken-1">{{success}}{{error}}</span>
{% endif %}
<h3>Movies</h3>
<form action="{% url 'movies:lookup' %}">
  <div class="input-field col s6">
    <input type="text" name="title" class="white-text" />
    <label for="search" class="white-text">Search</label>
  </div>
  <input type="submit" name="submit" class="btn blue" />
</form>
{% if data.Title %}
<div class="row results">
  <div class="col l2 m4 s6">
    <img src="{{data.Poster}}" alt="" />
  </div>
  <div class="col l10">
    <h5>{{data.Title}} | {{data.Year}} | {{data.Runtime}}</h5>
    <h6>{{data.Genre}}</h6>
    <p>{{data.Plot}}</p>
    <form action="{% url 'movies:add' %}">
      {%csrf_token%}
      <!-- Hidden Fields -->
      <input type="hidden" name="title" value="{{data.Title}}" />
      <input type="hidden" name="year" value="{{data.Year}}" />
      <input type="hidden" name="runtime" value="{{data.Runtime}}" />
      <input type="hidden" name="genre" value="{{data.Genre}}" />
      <input type="hidden" name="plot" value="{{data.Plot}}" />
      <input type="hidden" name="poster" value="{{data.Poster}}" />
      <input type="hidden" name="rated" value="{{data.Rated}}" />
      <input type="hidden" name="director" value="{{data.Director}}" />
      <input type="hidden" name="actors" value="{{data.Actors}}" />
      <input type="hidden" name="rating" value="{{data.imdbRating}}" />
      <input type="hidden" name="media_type" value="{{data.Type}}" />
      <input type="hidden" name="imdbID" value="{{data.imdbID}}" />
      <!-- End Hidden -->

      <button class="btn waves-effect waves-light green" type="submit" name="submit">
        Add to List
        <i class="material-icons right">add_box</i>
      </button>
      <a
        href="#"
        data-target="slide-out"
        class="sidenav-trigger btn waves-effect waves-light yellow darken-4"
        onclick="addAndDownload()"
      >
        Add & Download
        <i class="material-icons right">cloud_download</i>
      </a>
    </form>
  </div>
</div>
{% elif search %}
<div class="row results">
  <h5 style="padding: 10px">
    Hmm, I couldnt find that. Make sure its spelt correctly and try, try, try, again.
  </h5>
</div>
{% else %} {% endif %}
<h6>
  Filter:
  <a href="?filter=all">Show All</a>
  -
  <a href="?filter=genre">By Genre</a>
</h6>
<h6>
  Genres: {% for genre in genres %} {% if forloop.last %}
  <a href="?genre={{genre.name}}">{{genre.name}}</a>
  {% else %}
  <a href="?genre={{genre.name}}">{{genre.name}}</a>
  - {% endif %} {% endfor %}
</h6>
{% if filter == 'genre' %}
<div class="row genre_sorted">
  <ul>
    {% for genre in genres %}
    <li><h4>{{genre.name}}</h4></li>
    <div class="row">
      {% for item in media %} {% if genre.name|compare_genre:item %}
      <div class="media_item">
        <img src="{{item.poster}}" />
        <p class="card-title">{{item.title}}</p>
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endfor %}
  </ul>
</div>
{% elif filter == 'all' %}
<div style="margin-top: 20px" class="row show_all">
  {% if chosen_genre %}
  <h5>{{chosen_genre}}</h5>
  {% endif %} {% for item in media %}
  <div class="card col s6 m4 l2 black">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{item.poster}}" />
    </div>
    <div class="card-content">
      <span class="card-title activator white-text">{{item.title}}</span>
    </div>
    <div class="card-reveal black">
      <p>{{item.title}}</p>
      <span class="card-title white-text text-darken-4 btn-floating btn-small grey darken-4 card-close">
        <i class="material-icons">close</i>
      </span>
      {% for p in item.providers.all %}
      <img src="{{p.logo}}" alt="{{p.name}}" style="height: 40px" />
      {% empty %}
      <label>Not available to stream</label>
      {% endfor %}
      <p>
        <i class="material-icons white-text text-darken-3 left">access_time</i>
        <span style="margin-left: -0.7em">{{item.runtime|toMinutesAndHours}}</span>
      </p>
      <a
        href="#"
        data-target="slide-out"
        class="sidenav-trigger"
        onclick="setupTorrentMenu('{{item.title}}')"
      >
        <i class="material-icons yellow-text text-darken-3">file_download</i>
      </a>
      <a href="#info-modal" onclick="infoModal('{{item.title}}', '{{item.plot}}')">
        <i class="material-icons yellow-text text-darken-3 right bottom">info</i>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<!-- Info Modal -->

<div id="info-modal" class="modal blue-grey darken-4">
  <div class="modal-content">
    <h4 id="info-modal-title"></h4>
    <p id="info-modal-plot"></p>
  </div>
  <div class="modal-footer blue-grey darken-4">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat yellow-text text-darken-3">
      Close
    </a>
  </div>
</div>

<!-- Side Nav -->
<ul id="slide-out" class="sidenav blue darken-2 text-white">
  <li>
    <div class="user-view">
      <div class="background">
        <img
          src="https://images.squarespace-cdn.com/content/v1/56a16fd5d82d5ee027b1b53f/1536977635987-YQVX0UA7ZAD8ZIYDFGP4/ke17ZwdGBToddI8pDm48kA47qaxzGU3oa60Mv3IrElh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0hGaawTDWlunVGEFKwsEdnE_ZbuhWuTjDl9Hn0Vaidb23CyzgPgNZ_l0zINYXrCLdg/iStock-817548064+%281%29.jpg?format=750w"
        />
      </div>
      <br />
      <br />
      <span class="white-text title"></span>
    </div>
  </li>
  <!-- Collapsible -->
  <ul class="collapsible">
    <li>
      <div class="collapsible-header" id="1337x-dropdown-trigger">
        <i class="material-icons">filter_drama</i>
        1337x
      </div>
      <div class="collapsible-body blue darken-4">
        <ul class="collection blue darken-4" id="1337x-dropdown"></ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">place</i>
        RARGB
      </div>
      <div class="collapsible-body blue darken-4"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
  <li><div class="divider"></div></li>
  <!-- <li><a class="subheader">Subheader</a></li> -->
</ul>
<!--  End side nav -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  $("#1337x-dropdown-trigger").click(() => {
    // When the accordian collapsible is clicked,
    // this function is triggered and will begin building
    // the dropdown children elements
    let mediaTitle = $(".title").html();
    torrents1337xDropdown(mediaTitle);
  });

  function torrents1337xDropdown(title) {
    // Fetches torrents by title and year released
    // and updates the 1337x torrent accordian
    // in the slide menu.
    const torrents = async () => {
      const response = await fetch(`/torrents/1337x?title=${title}`);
      const data = await response.json();
      return data;
    };
    // After torrents have been fetched from the API,
    // iterate over them and build the html list elements
    // for the accordian dropdown.
    torrents().then((data) => {
      let torrent_html = "";
      data.map((torrent) => {
        if (torrent.title != undefined) {
          let h = `
                    <li class="collection-item blue darken-4">${torrent.title}</li>
                    `;
          torrent_html += h;
        }
      });
      // Update the DOM and finally open the collapsibles
      // TODO: Open currently opens both collapsibles, fix
      // by using id instead of class.
      $("#1337x-dropdown").html(torrent_html);
      $(".collapsible").collapsible("open");
    });
  }

  function infoModal(title, plot) {
    // When the info icon is clicked this function
    // will dynamically update the modal with the
    // necessary information and then display it.
    $("#info-modal-title").html(title);
    $("#info-modal-plot").html(plot);
    $(".modal").modal("open");
  }

  function setupTorrentMenu(title) {
    // Function sets up the slide out menu by clearing any previous
    // html in the accordian dropdowns, closing the accordian and setting title.
    // This would function more seemless if I moved the clear and close logic
    // to a function that triggers when the slide menu closes.
    $("#1337x-dropdown").html();
    $(".collapsible").collapsible("close");
    $(".title").html(title);
  }

  function addAndDownload() {
    const formData = $("form").serializeArray();
    const formObject = convertToObject(formData);
    // Step 1: Send formObject to ADD endpoint
    const torrents = async () => {
      const response = await fetch(`/add`, {
        method: "POST",
        body: JSON.stringify(formObject),
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": formObject["csrfmiddlewaretoken"],
        },
        credentials: "same-origin",
      });
      if (response.status === 204) {
        // Disaply success message
        M.toast({ html: "Movie added successfully", classes: "green" });
        return response.json;
      } else {
        console.log("Promise Rejected");
        M.toast({ html: "Failed to add Movie. Fuck if I know why.", classes: "red" });
        return Promise.reject(response);
      }
    };
    torrents();
    // Step 2: Build slider menu
    setupTorrentMenu(formObject["title"]);
  }
  function convertToObject(unindexedArray) {
    //   Converts a serialized array to
    // an object of key:value pairs
    indexedArray = {};
    unindexedArray.map((item) => {
      indexedArray[item["name"]] = item["value"];
    });
    return indexedArray;
  }
</script>
{% endblock %}
