{% extends 'movies/base.html' %} {% block content %}
{% include "movies/css/main.css" %}

{% if success or error %}
<span class="msgBox yellow orange-text text-darken-3 darken-1">{{success}}{{error}}</span>
{% endif %}
{% if user.is_authenticated %}
<p class="right">Hello, {{user.username}} <a href="/logout">(logout)</a></p>
{% else %}
<p class="right"><a href="/login">Log in</a></p>
{% endif %}
<h3>Movies</h3>

{% include "movies/includes/search.html" %}

<!-- Filtering -->
{% include "movies/includes/filters.html" %}

<!-- Cards Display -->
{% include "movies/includes/cards_display.html" %}

<!-- Info Modal -->
{% include "movies/includes/info_modal.html" %}

<!-- Side Nav -->
{% include "movies/includes/sidebar.html" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  {% include "movies/js/main.js" %}
</script>
{% endblock %}
