{% extends 'movies/base.html' %}
{% load app_extras %}
{% block content %}
    <style>
        .modal-content p {
            font-family: arial;
        }
        .card-close {
            position: absolute;
            top: 0;
            right: 0;
        }
        img {
            height: 220px;
        }
        .results {
            margin-top: 20px;
            border: 2px solid #27719c;
            border-radius: 5px;
        }
        .results .col {
            margin-bottom: -4px;
            padding: 10px;
        }
        .input-field.col label {
            left: 0px;
        }
        a, .btn {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
        }
        .msgBox {
            padding: 10px;
            border-radius: 5px;
        }
        .media_list img {
            height: 200px;
        }
        .media_list {
            margin-top: 20px;
        }
        .media_item {
            margin-right: 25px;
            display: inline-block;
        }
        .providers {
            display: inline-block;
            position: absolute;
            left: 249px;
            top: 451px;
        }
        .card-content {
            padding: 5px 0px !important;
        }
        .card {
            height: 300px;
        }
        .card-title {
            font-size: 15px !important;
        }
        .plex {
            opacity: 20%;
            filter: grayscale(100%);
        }
        .title {
            font-size: 20px;
        }
    </style>
    {% if success or error %}
        <span class="msgBox yellow orange-text text-darken-3 darken-1">{{success}}{{error}}</span>
    {% endif %}
    <h3>Movies</h3>
    <form action="{% url 'movies:lookup' %}">
        <div class="input-field col s6">
            <input type="text" name="title" class="white-text">
            <label for="search" class="white-text">
                Search
            </label>
        </div>
        <input type="submit" name="submit" class="btn blue">
    </form>
    {% if data.Title %}
    <div class="row results">
        <div class="col l2 m4 s6">
            <img src="{{data.Poster}}" alt="">
        </div>
        <div class="col l10">
            <h5>{{data.Title}} | {{data.Year}} | {{data.Runtime}}</h5>
            <h6>{{data.Genre}}</h6>
            <p>{{data.Plot}}</p>
            <form action="{% url 'movies:add' %}">
                <!-- Hidden Fields -->
                <input type="hidden" name="title" value="{{data.Title}}">
                <input type="hidden" name="year" value="{{data.Year}}">
                <input type="hidden" name="runtime" value="{{data.Runtime}}">
                <input type="hidden" name="genre" value="{{data.Genre}}">
                <input type="hidden" name="plot" value="{{data.Plot}}">
                <input type="hidden" name="poster" value="{{data.Poster}}">
                <input type="hidden" name="rated" value="{{data.Rated}}">
                <input type="hidden" name="director" value="{{data.Director}}">
                <input type="hidden" name="actors" value="{{data.Actors}}">
                <input type="hidden" name="rating" value="{{data.imdbRating}}">
                <input type="hidden" name="media_type" value="{{data.Type}}">
                <input type="hidden" name="imdbID" value="{{data.imdbID}}">
                <!-- End Hidden -->
                <input type="submit" name="submit" value="Add to List" class="btn green">
            </form>
        </div>
    </div>
    {% elif search %}
    <div class="row results">
        <h5 style="padding:10px">Hmm, I couldnt find that. Make sure its spelt correctly and try, try, try, again.</h5>
    </div>
    {% else %}
    {% endif %}
    <h6>Filter: <a href="?filter=all">Show All</a> - <a href="?filter=genre">By Genre</a></h6>
    <h6>Genres: 
        {% for genre in genres %}
            {% if forloop.last %}
                <a href="?genre={{genre.name}}">{{genre.name}}</a>
            {% else %}
                <a href="?genre={{genre.name}}">{{genre.name}}</a> -  
            {% endif %}
        {% endfor %}
    </h6>
    {% if filter == 'genre' %}
    <div class="row genre_sorted">
        <ul>
            {% for genre in genres %}
            <li><h4>{{genre.name}}</h4></li>
                <div class="row">
                    {% for item in media %}
                        {% if genre.name|compare_genre:item %}    
                        <div class="media_item">
                            <img src="{{item.poster}}">
                            <p class="card-title">{{item.title}}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </ul>
    </div>
    {% elif filter == 'all' %}
    <div style="margin-top:20px" class="row show_all">
    {% if chosen_genre %}<h5>{{chosen_genre}}</h5>{% endif %}
        {% for item in media %}  
            <div class="card col s6 m4 l2 black">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{item.poster}}">
                </div>
                <div class="card-content">
                    <span class="card-title activator white-text">{{item.title}}</span>
                </div>
                <div class="card-reveal black">
                    <p>{{item.title}}</p>
                    <span class="card-title white-text text-darken-4 btn-floating btn-small grey darken-4 card-close">
                        <i class="material-icons ">close</i>
                    </span>
                    {% for p in item.providers.all %}
                    <img src="{{p.logo}}" alt="" style="height:40px;">
                    {% empty %}
                    <label>Not available to stream</label>
                    {% endfor %}
                    <img class="{% if item.on_plex is False %}plex{% endif %}" id="{{item.imdbID}}_img" src="https://zhf1943ap1t4f26r11i05c7l-wpengine.netdna-ssl.com/wp-content/uploads/2018/01/pmp-icon-1.png" alt="" style="height:40px;" onclick="add_to_plex('{{item.imdbID}}')">
                    <p>
                        <i class="material-icons white-text text-darken-3 left">access_time</i>
                        <span style="margin-left:-0.7em">{{item.runtime|toMinutesAndHours}}</span>
                    </p>
                    <a href="#" data-target="slide-out" class="sidenav-trigger" onclick="torrent('{{item.title}}')"><i class="material-icons yellow-text text-darken-3">file_download</i></a>
                    <a href="#info-modal" onclick="infoModal('{{item.title}}', '{{item.plot}}')"><i class="material-icons yellow-text text-darken-3 right bottom">info</i></a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

<!-- Info Modal -->

<div id="info-modal" class="modal blue-grey darken-4">
    <div class="modal-content">
        <h4 id="info-modal-title"></h4>
        <p id="info-modal-plot"></p>
    </div>
    <div class="modal-footer blue-grey darken-4">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat yellow-text text-darken-3">Close</a>
    </div>
</div>


<!-- Side Nav -->
    <ul id="slide-out" class="sidenav blue darken-2 text-white">
        <li><div class="user-view">
          <div class="background">
            <img src="https://images.squarespace-cdn.com/content/v1/56a16fd5d82d5ee027b1b53f/1536977635987-YQVX0UA7ZAD8ZIYDFGP4/ke17ZwdGBToddI8pDm48kA47qaxzGU3oa60Mv3IrElh7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0hGaawTDWlunVGEFKwsEdnE_ZbuhWuTjDl9Hn0Vaidb23CyzgPgNZ_l0zINYXrCLdg/iStock-817548064+%281%29.jpg?format=750w">
          </div>
          <br><br>
          <span class="white-text title"></span>
        </div></li>
        <li><a class="waves-effect" id="1377x" href="#" target="_blank"><i class="material-icons">find_in_page</i>1377x.to</a></li>
        <li><a class="waves-effect" id="rarbg" href="#"><i class="material-icons">find_in_page</i>RARBG.to</a></li>
        <li><div class="divider"></div></li>
        <!-- <li><a class="subheader">Subheader</a></li> -->
      </ul>
<!--  End side nav -->
<script>
    function infoModal(title, plot){
        $('#info-modal-title').html(title);
        $('#info-modal-plot').html(plot);
        $('.modal').modal('open');

    }

    function torrent(title){
        console.log(title);
        $('.title').html(title);
        $('#1377x').attr('href', 'https://www.1377x.to/search/' + encodeURI(title) + '/1/');
        $('#rarbg').attr('href', 'https://rarbg.to/torrents.php?search=' + encodeURI(title) + '&category%5B%5D=14&category%5B%5D=48&category%5B%5D=17&category%5B%5D=44&category%5B%5D=45&category%5B%5D=47&category%5B%5D=50&category%5B%5D=51&category%5B%5D=52&category%5B%5D=42&category%5B%5D=46');
    }
        
    function add_to_plex(movie_id){
        $.get('{% url "movies:add_plex" %}?movie_id=' + movie_id, function(data, status){
            $('#'+movie_id+'_img').removeClass('plex');
            console.log($('#'+movie_id+'_img'));
        });
    }
    </script>
{% endblock %}